@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,400&display=swap');

h1 {
    font-size: 2rem;
}

.josefin-sans-example {
    font-family: 'Josefin Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

.card {
    border: 1px solid #ddd;
    padding: 15px;
    height: 250px;
    width: 500px;
    border-radius: 25px;
    background-color: #fff;
    margin: auto; /* Center the card */
    display: flex;
}

body {
    background-color: #ceecf2;
    padding: 45px;
    display: flex; /* Add display flex */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh;
}

.image img {
    width: 65%;
    height: auto;
    border-top: 20px;
    padding: 15px;
    margin: 25px;
}

.Text h3 {
    color: #7a807c;
    text-align: center;
}

.Text {
    text-align: center;
    margin-top: 20px;
    margin: 30px;
    padding: 15px;
    border: 20px;
    width: 550px;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.image {
    background-color: #f5cffa;
    border-radius: 15px;
    width: 650px;
}
